---
import { getCollection } from "astro:content"
import { generateBasicPaths, slugify } from "utils"
import BaseLayout from "layouts/base.layout.astro"

export async function getStaticPaths() {
  const allPosts = await getCollection("blog")
  const uniqueTags = [
    ...new Set(allPosts.flatMap((post) => post.data.tags || [])),
  ]

  return ["en", "pt", "de"].flatMap((lang) =>
    uniqueTags.map((tag) => ({
      params: { lang, tag: slugify(tag) },
    }))
  )
}

const { lang, tag } = Astro.params

const posts = await getCollection("blog", ({ data, id }) => {
  return id.startsWith(`${lang}/`) && (data.tags || []).includes(slugify(tag))
})
const paths = generateBasicPaths(`tags/${tag}`)
---

<!-- <BaseLayout lang={lang} title="Code With Beer" description="Latest articles"> -->
<BaseLayout title={`Posts tagged with "${tag}"`} paths={paths}>
  <ul>{posts.map((item) => <li>{item.id}</li>)}</ul>
</BaseLayout>
