---
import Footer from '../components/footer.astro';
import Menu from '../components/menu.astro';
import HeaderPost from '../components/header-post.astro';
import HeaderBrand from '../components/header-brand.astro';
import '../styles/global.css';
const { title, lang, readingTime, data, type } = Astro.props;
---
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout-grid">
      <HeaderBrand />
      <Menu />

      <main class="post-main">
        <HeaderPost data={data} type={type} title={title} readingTime={readingTime}/>
        <div class="post-content">
          <slot />
        </div>
      </main>

      <Footer readingTime={readingTime} />
    </div>
  </body>
</html>

