---
import Footer from '../components/footer.astro';
import '../styles/global.css';
const { title, lang, readingTime } = Astro.props;
---
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout-grid">
      <header class="brand-header">
        <img src="/images/logo.svg" alt="Code with Beer Logo" width="75" height="75">
        <span>
          CODE WITH BEER
        </span>
      </header>

      <nav class="main-menu">
        MENU
      </nav>

      <main class="post-main">
        <header class="post-header">
          <h1>{title}</h1>
        </header>

        <div class="post-content">
          <slot />
        </div>
      </main>

      <Footer readingTime={readingTime} />
    </div>
  </body>
</html>

