---
import PostHeader from "components/post.header.astro"
import BaseLayout from "layouts/base.layout.astro"
import "styles/global.css"

const { page, currentPaths } = Astro.props
const { frontmatter, type, title } = page
---

<BaseLayout title={title} paths={currentPaths} reading={frontmatter?.reading}>
  <PostHeader
    frontmatter={frontmatter}
    type={type}
    title={title}
    reading={frontmatter?.reading}
  />
  <div class="post-content">
    <slot />
  </div>
</BaseLayout>
